<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Synergy: Disaster Relief</title>
    
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/scrolling-nav.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="/">Synergy: Disaster Relief</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="validate">Validate</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="request">Request</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header style="background-color: #18bc9c!important" class="bg-primary text-white">
      <div class="container text-center">
        <h1>Synergy: Disaster Relief</h1>
        <p class="lead">A webApp that coordinates and manages the functioning of disaster relief agencies and will also help them identify the regions which require immediate mitigation</p>
      </div>
    </header>

    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
          </div>
        </div>
      </div>
    </section>

    <section id="services" class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>How this works?</h2>
            <p class="lead">A webApp that coordinates and manages the functioning of disaster relief agencies and will also help them identify the regions which require immediate mitigation</p>
            <ul>
              <li>Problem : There is no proper coordination and collaboration between agencies working for disaster relief.</li>
              <li>Crowdsourced data (tweets,user data from the app,media data etc.,) is used to classify disaster hit regions into high impact, medium impact etc., also user requests from the application can be used to specify the required resource (e.g., water, food, shelter etc.,) in the disaster hit zone. Inferences from crowdsourced data is validated by other users of the applications using proof of work concept and a impact map will be generated. This impact map may be used by agencies to provide relief. Multiple agencies should not respond to an individual request at the same time so app will partition the user requests and will assign the request to a particular agency based on area and resource needed</li>
              <li>In the event of a crisis, a user can send a request for help using the app. They can also specify the resources required by them. If the users are not able to send requests themselves due to connectivity issues, someone from a remote location, their family or friends can send the request. Requests are validated and accessed to generate a impact map for the agencies and concerned agencies may start relief.</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Microsoft: Codefundo++ 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="js/scrolling-nav.js"></script>

  </body>

</html>
